<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta
	name="viewport"
	content="width=device-width,
			initial-scale=1.0"/>
	<link rel="stylesheet" href="./css/payment.css"
		class="css" />
</head>
<body>
	<div class="container">
	<div class="main-content">
		<p class="text">KenaBecha</p>
	</div>

	<div class="centre-content">
		<h1 class="price">KenaBecha<span>/-</span></h1>
		<!-- <p class="course">
		Buy DSA Self-Paced Course Now !
		</p> -->
	</div>

	<div class="last-content">
		<!-- <button type="button" class="pay-now-btn">
		Apply Coupons
		</button>
		<button type="button" class="pay-now-btn">
		Pay with Netbanking
		</button> -->

		<!-- <button type="button" class="pay-now-btn">
		Netbanking options
		</button> -->
	</div>

	<div class="card-details">
		<p>Pay using Bank Account</p>

		<div class="card-number">
		<label> User Name </label>
		<input
			type="text"
			class="card-number-field"
			/>
		</div>
		<br />
		<!-- <div class="date-number">
		<label> Expiry Date </label>
		<input type="text" class="date-number-field"
				placeholder="DD-MM-YY" />
		</div> -->

		<div class="cvv-number">
		<label> Account No. </label>
		<input type="text" class="cvv-number-field"
				placeholder="xxx" />
		</div>
		<div class="nameholder-number">
		<label> Total Amount </label>
		<input
			type="text"
			class="card-name-field"
			placeholder="Enter your Name"/>
		</div>
		<button type="submit"
				class="submit-now-btn">
		Pay Now
		</button>
	</div>
	</div>
</body>
</html>
